.git
.github
.idea
.vscode
node_modules
vendor
public/build
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/testing
storage/framework/views
bootstrap/cache/*.php
.env
.env.*
!.env.example
!.env.docker.example
docker-compose.override.yml
npm-debug.log
yarn-error.log
coverage
tests
docs
